requests>=2.20
pytest==3.9.2
jsonschema==3.0.2
ordered-set==3.1.1
futures==3.3.0; python_version < '3.0'
enum34==1.1.6; python_version < '3.0'
mock==3.0.4; python_version < '3.0'
responses==0.10.6
python-dateutil==2.8.1
future==0.18.2
bump2version==0.5.11
deepdiff==3.3.0
